@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    /* overflow-x: hidden; */
}

.bg-image-login {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/login.webp);
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
}

.form {
    background-color: rgba(255, 255, 255, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
}